/* app css stylesheet */

body {
  padding-top: 20px;
}

h1 {
  border-bottom: 1px solid gray;
}

.datepicker-fliter{
    margin: 0 auto;
    width:200px;
}

ul, li {
    list-style: none;
    margin:0;
    padding: 0;
}


.category-line{
    padding:2px 5px;
    overflow: hidden;
    display: block;
}

.category-line:hover{
    background: #E8F1FA;
    border-left: 2px solid #007EFC;
    padding-left:3px;
}
