<h3>Add new line</h3>

<form action="" ng-submit="add()" class="container-fluid">
    <div class="form-group">
        <label for="type-income">
            Income
            <input class="" id="type-income" name="type-income" type="radio" ng-model="type" value="income"/>
        </label>
        <label for="type-expense">
            Expense
            <input id="type-expense" name="type-expense" type="radio" ng-model="type" value="expense"/>
        </label>
    </div>
    <div class="form-group">
        <label for="amount">
            Amount
            <input type="text" money id="amount" name="amount" ng-model="model.Sum" ng-required class="input-sm form-control"/>
        </label>
    </div>
    <div class="form-group">
        <label for="category">
            Category
            <select name="category" id="category" ng-model="model.Category" ng-options="c.Name for c in categoryList" class="form-control input-sm"></select>
        </label>
    </div>
    <div class="form-group">
        <label for="date">
            Date:
            <input id="date" type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="model.Date" ng-required="true" close-text="Close" required="required">
        </label>
    </div>
    <div class="form-group">
        <label for="note">
            Note:
            <textArea id="note" type="text" class="form-control" ng-model="model.Note"></textArea>
        </label>
    </div>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-success"/>
        <a class="btn btn-default" href="#/">Cancel</a>
    </div>
</form>